@import '../../../../../scss/variables';
@import '../../../../../scss/mixins';

.encabezado{
    text-align: center;
    padding: 15px;
    background-color: black;
    color: white;
}

.contBotones{
    padding: 10px;
}

.contNumeroPlato{
    padding: 5px;
    text-align: right;
}

.contNumeroPlato{
    display: grid;
    grid-template-columns: repeat(2, 50%);
    .titPlato{
        text-align: left;
        color: $grisPrincipal;
    }
}

.contBotones{
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-column-gap: 5px;
}

.numIncrementador{
    align-self: center;
    justify-self: center;
    font-weight: 800;
}

.contIncrementador{
    display: grid;
    grid-template-rows: 1;
    grid-template-rows: auto;
    margin-bottom: 5px;
    .incrementador, .numIncrementador{
        grid-row: 1;
    }
}

mat-radio-button{
    @include smallTablet(){
        font-size: 12px;
    }
}