<div class="contenedor">
    <div class="contenido">
        <form [formGroup]="opcionesCorriente">
            <div class="contNumeroPlato">
                <h4 class="titPlato">Pide tu plato</h4>
                <h4>PLATO {{pedidoServicio.pedido.platos.length+1}}</h4>
                </div>
            <div *ngFor="let seccion of constantes.menuCorriente; let i = index" class="opcion">
                <div *ngIf="seccion.titulo" class="encabezado">
                    <h3>{{seccion.titulo}}</h3>
                </div>
                    <mat-radio-group [formControlName]="seccion.seccion" *ngIf="seccion.titulo" aria-label="Selecciona Una opción">
                        <mat-radio-button *ngFor="let opcion of constantes.menuCorriente[i].opciones" [value]="opcion.id" [checked]="opcionesCorriente.value[seccion.seccion]">{{opcion.nombre + opcionesCorriente.value[seccion.seccion]}}</mat-radio-button>                    
                    </mat-radio-group>
            </div>
            <div class="encabezado">
                <h3>COMENTARIOS ADICIONALES</h3>
            </div>
            <div class="contComentarios">
                <mat-form-field appearance="outline" class="formField">
                    <textarea matInput 
                    placeholder="Escribe aquí los detalles que haran de tu almuerzo el perfecto" 
                    formControlName="comentarios"
                    ></textarea>
                    <!-- <mat-hint>Description should have a minimum of 3 words.</mat-hint> -->
                </mat-form-field>
            </div>

            <app-calculadora-platos></app-calculadora-platos>

            <div class="contBotones">

                <div class="contIncrementador">
                    <button
                            mat-button
                            class="incrementador" 
                            color="second"
                            (click)="restarPlato()"
                            [disabled] = "opcionesCorriente.invalid"
                            >
                            -
                    </button>
                    <div class="numIncrementador" [ngClass]="{desabilitado: opcionesCorriente.invalid}">{{pedidoServicio.pedido.platos.length+1}}</div>
                    <button
                            mat-button
                            class="incrementador" 
                            color="second"
                            (click)= "sumarPlato()"
                            [disabled] = "opcionesCorriente.invalid"
                            >
                            +
                    </button>
                </div>

            <button
                mat-button 
                color="primary"
                [disabled] = "opcionesCorriente.invalid"
                (click)="continuarPaso()"
                >                    
                CONTINUAR
            </button>
            
            </div>

            <pre>
                {{ this.pedidoServicio.pedido.platos | json }}
            </pre>

        </form>
    </div>
    <app-barranotificacion *ngIf="pedidoServicio.barraNotifica.visible"></app-barranotificacion>
</div>