@import 'fuentes';
@import '~@angular/material/theming';
@import 'variables';


@include mat-core();
$my-app-primary: mat-palette($mat-gray);
$my-app-accent: mat-palette($mat-gray, 900, 900, 900);
$my-app-theme: mat-light-theme($my-app-accent, $my-app-accent);

@include angular-material-theme($my-app-theme);

* {
    font-family: Bahnschrift;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    /* transition: all 0.1s; */
}

/* Estilos diferenciales Marterial */
.mat-tab-labels{
    background-color: $grisPrincipal;
}

.mat-ink-bar{
    height: 4px !important;
}

mat-radio-group {
    display: grid;
    .mat-radio-button{
        padding: 20px;
        align-self: center;
        justify-self: center;
        width: 100%;
    }
}

/* Radio Checked */

.mat-radio-checked{
    background-color: $grisPrincipal;
    color: white;
    width: 100%;
}