@import 'fuentes';
@import '~@angular/material/theming';
@import 'variables';
@import 'mixins';


@include mat-core();
$my-app-primary: mat-palette($mat-gray);
$my-app-accent: mat-palette($mat-gray, 900, 900, 900);
$my-app-theme: mat-light-theme($my-app-accent, $my-app-accent);

@include angular-material-theme($my-app-theme);

* {
    font-family: Bahnschrift;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    transition: all 0.5s;
}

/* Estilos diferenciales Marterial */
.mat-tab-labels{
    background-color: $grisPrincipal;
}

.mat-ink-bar{
    height: 4px !important;
}

mat-radio-group {
    display: grid;
    @include smallTablet(){
        grid-template-columns: repeat(4, 25%);
    }
    .mat-radio-button{
        padding: 20px;
        align-self: center;
        justify-self: center;
        width: 100%;
    }
}

/* Radio Checked */

.mat-radio-checked{
    background-color: $grisPrincipal;
    width: 100%;
}

.mat-form-field {
    width: 100%;
    padding: 5px;
}

.mat-form-field-appearance-outline .mat-form-field-outline {
    color: $grisPrincipal;
}

.mat-button{
    width: 100%;
}
button.incrementador{
    width: auto;
    border: 1px solid;
    min-width: 0 !important;
}
.mat-button.mat-primary{
    border: 1px solid black;
}

.mat-form-field-wrapper {
    padding-bottom: 0 !important;
}

/* Botones */

.mat-button.mat-primary{
    color: white !important;
    background-color: black !important;
    margin-bottom: 5px;
}

.mat-button[disabled]{
    opacity: 0.3;
}

.desabilitado{
    opacity: 0.3;
}

/* Barra Notificacion */

.mat-simple-snackbar-action button{
    color: $grisPrincipal;
}